.jogos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 0 20px 0;
  color: #fff;
}

.headerSection{
  width: 100%;
  margin: 0 0 17.5px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.inputPesquisa{
  width: 150px;
  margin: 0;
}

.tituloSecao{
  font-weight: bold;
  color: #fff;
  margin: 0;
  cursor: pointer;
  margin-right: 20px;
}

@media screen and (max-width: 800px){
  .headerSection{justify-content: space-between;}
}

@media screen and (max-width: 300px){
  .jogos{justify-content: space-between;}
}